BLSR_RPC_URL=${RPC_URL}
BLSR_PRIVATE_KEY=${PRIVATE_KEY}import abi from "../contracts/templates/BitcoinSolar.json";
export const BLSR_ADDRESS = "0xddaAd340b0f1Ef65169Ae5E41A8b10776a75482d";
0xddaAd340b0f1Ef65169Ae5E41A8b10776a75482d
}
MINING_DIFFICULTY=100000
BACKEND_PORT=8080
LOG_LEVEL=info
SENTRY_DSN=
