[Unit]
Description=BLSR Mining Backend
After=network.target

[Service]
User=blsr
Group=blsr
WorkingDirectory=/root/BitcoinSolar.Sol/blsr-miner-backend
ExecStart=/root/BitcoinSolar.Sol/blsr-miner-backend/.venv/bin/python app.py
EnvironmentFile=/root/BitcoinSolar.Sol/digitalocean-deploy/env/backend.env
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
